---
import "../css/global.css";
import "../css/reset.css";
const { text, headertext } = Astro.props;
---

<div class="tool">
  <h3>{headertext}</h3>
  <p class="fold">
    {text}
  </p>
</div>

<style>
 .tool {
  background-color: var(--primary-color-01);
  color: var(--secondary-color-01);
  border-radius: 2rem;
  padding: 0.5em 1em;
  border: solid 1px var(--secondary-color-01);
  cursor: pointer;
}

.tool h3 {
  font-family: Questrial;
  font-size: var(--size--2);
  font-weight: bold;
  margin: 0;
}

/* Indledningsvis skjul <p> */
.fold {
  display: none;
  margin: 0;
}

</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const tools = document.querySelectorAll(".tool");

  if (tools.length > 0) {
    tools.forEach((tool) => {
      const paragraf = tool.querySelector(".fold");

      tool.addEventListener("click", function () {
        if (paragraf) {  // Tjek om paragraf findes
          paragraf.classList.toggle("fold");
        }
      });
    });
  }
});


</script>
