---
import { Image } from "astro:assets";
import Squiggle from "../images/blaa_squirrel.svg";
---

<section class="flow">
  <!-- Det her er arbejde -->

  <div class="grid1-1">
    <div class="header">
      <h2>Arbejde</h2>
      <Image src={Squiggle} alt="mig" />
    </div>
    <div class="when when-phone">
      <p>Søstrene Grene (1 år 3 måneder)</p>
      <p>
        <span style="color: var(--secondary-color-02);"
          >Aug 2020 - Okt 2021</span
        >
      </p>
    </div>
    <div class="flex">
      <h3 class="nicki">Salgsassistent - Søstrene Grene</h3>
      <ul>
        <li>
          Udviklede stærke salgskompetencer gennem personlig betjening og
          rådgivning af kunder, med fokus på at skabe en god købsoplevelse.
        </li>
        <li>
          Ansvarlig for vareopfyldning, lagerstyring og vedligeholdelse af
          butikkens visuelle udtryk for at sikre en inspirerende og indbydende
          atmosfære.
        </li>
        <li>
          Bidrog til at optimere butikseffektiviteten ved at håndtere
          kassebetjening, kundeservice og løbende produktpræsentation, hvilket
          styrkede både salg og kundetilfredshed.
        </li>
      </ul>
      <div class="when-mobile">
        <p>Søstrene Grene (1 år 3 måneder)</p>
        <p>
          <span style="color: var(--secondary-color-02);"
            >Aug 2020 - Okt 2021</span
          >
        </p>
      </div>
    </div>
    <div class="when when-phone">
      <p>Burger King (3 år 1 måned)</p>
      <p>
        <span style="color: var(--secondary-color-02);">Sep 2021 - Nu 2024</span
        >
      </p>
    </div>
    <div class="flex">
      <h3 class="nicki">First Assistent- Burger King</h3>
      <ul>
        <li>
          <span style="font-weight: bold;">Medarbejder:</span>
          Udviklede stærke kundeservicefærdigheder ved at sikre høj kundetilfredshed
          og effektiv håndtering af ordrer. Lærte at arbejde under pres i et hurtigt
          arbejdsmiljø og samarbejde med et team for at nå fælles mål.
        </li>
        <li>
          <span style="font-weight: bold;"> Manager: </span>
          Manager: Opnåede ledelseserfaring med ansvar for at lede og motivere teamet,
          styre daglige operationer og sikre, at service og produktkvalitet levede
          op til virksomhedens standarder.
        </li>
        <li>
          <span style="font-weight: bold;">First Assistant:</span>
          First Assistant: Blev ansvarlig for at optimere driftseffektiviteten, sikre
          opfyldelse af salgs- og kvalitetsmål samt håndtere medarbejderudvikling
          og vagtplanlægning. Har udviklet stærke evner inden for problemløsning
          og beslutningstagning i driftskritiske situationer.
        </li>
      </ul>
      <div class="when-mobile">
        <p>Burger King (3 år 1 måned)</p>
        <p>
          <span style="color: var(--secondary-color-02);"
            >Sep 2021 - Nu 2024</span
          >
        </p>
      </div>
    </div>
  </div>

  <!-- Det her er skole -->
  <div class="grid1-1">
    <div class="header">
      <h2>Skole</h2>
      <Image src={Squiggle} alt="mig" />
    </div>
    <div class="when when-phone">
      <p>Frontend 3. semester</p>
      <p>
        <span style="color: var(--secondary-color-02);"
          >Aug 2023 - Jun 2025</span
        >
      </p>
    </div>
    <div class="flex">
      <h3 class="nicki">Multimediedesigner - KEA</h3>
      <ul>
        <li>
          Jeg er på 3. semester af multimediedesigneruddannelsen. Her har jeg
          lært webdesign, UX/UI, grafisk design og front-end udvikling samt
          projektstyring og digital markedsføring. Det har givet mig en stærk
          kombination af kreative og tekniske færdigheder.
        </li>
      </ul>
      <div class="when-mobile">
        <p>Frontend 3. semester</p>
        <p>
          <span style="color: var(--secondary-color-02);"
            >Aug 2023 - Jun 2025</span
          >
        </p>
      </div>
    </div>
    <div class="when when-phone">
      <p>Samfundsfag og psykologi linje</p>
      <p>
        <span style="color: var(--secondary-color-02);"
          >Aug 2019 - Jun 2021</span
        >
      </p>
    </div>
    <div class="flex">
      <h3 class="nicki">HF - Nykøbing Katedralskole</h3>
      <ul>
        <li>
          Jeg har tidligere gået på HF med samfundsfag og psykologi som
          linjefag. Her lærte jeg om sociale strukturer, politiske systemer og
          menneskelig adfærd. Det gav mig en dybere forståelse af samfundet og
          psykologiske processer.
        </li>
      </ul>
      <div class="when-mobile">
        <p>Samfundsfag og psykologi linje</p>
        <p>
          <span style="color: var(--secondary-color-02);"
            >Aug 2019 - Jun 2021</span
          >
        </p>
      </div>
    </div>
    <div class="when when-phone">
      <p>Kunst- og Designlinjen</p>
      <p>
        <span style="color: var(--secondary-color-02);"
          >Aug 2018 - Jun 2019</span
        >
      </p>
    </div>
    <div class="flex">
      <h3 class="nicki">Næsgaard Efterskole</h3>
      <ul>
        <li>
          At gå på efterskole har givet mig selvstændighed, samarbejdsevner og
          ansvarsfølelse. Jeg har lært at tilpasse mig nye situationer og tage
          initiativ i fællesskabet. Det har styrket både min personlige og
          sociale udvikling.
        </li>
      </ul>
      <div class="when-mobile">
        <p>Kunst- og Designlinjen</p>
        <p>
          <span style="color: var(--secondary-color-02);"
            >Aug 2018 - Jun 2019</span
          >
        </p>
      </div>
    </div>
    <div class="when when-phone">
      <p>
        <span style="color: var(--secondary-color-02);"
          >Aug 2008 - Jun 2018</span
        >
      </p>
    </div>
    <div class="flex">
      <h3 class="nicki">Sct. Joseph Søstrenes Skole</h3>
      <div class="when-mobile">
        <p>
          <span style="color: var(--secondary-color-02);"
            >Aug 2008 - Jun 2018</span
          >
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  @media (min-width: 481px) {
    @layer component {
      li {
        max-width: 65ch;
      }
    }
    section {
      background-color: var(--secondary-color-01);
      padding-top: 10rem;
      padding-bottom: 10rem;
      color: var(--primary-color-03);

      .header {
        grid-column: 2/3;
        display: flex;
        gap: 1rem;
        margin-bottom: 3rem;

        img {
          max-width: 20%;
        }
      }

      h2 {
        font-size: var(--size-2);
      }

      .grid1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr auto 1fr;
        grid-template-rows: auto auto;

        .when {
          align-self: flex-start;
          justify-self: self-end;
          padding-right: 1.5rem;
          line-height: 10%;
          grid-column: 2/3;

          .when:last-child {
            margin: 0;
          }
        }

        .flex {
          display: flex;
          flex-direction: column;
          border-left: solid 2px var(--primary-color-03);
          padding-left: 1.5rem;
          grid-column: 3/-2;
          padding-bottom: 4rem;

          position: relative;

          li {
            padding-bottom: 1rem;
          }
        }
      }
    }

    .nicki::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 100px;
      background-color: var(--primary-color-03);
      left: -1rem;
      top: 0.01rem;
    }

    .grid1-1:first-child {
      margin-bottom: 10rem;
    }

    .when-mobile {
      display: none;
    }
  }
  @media (max-width: 480px) {
    section {
      background-color: var(--secondary-color-01);
      color: var(--primary-color-03);
      display: grid;

      .header {
        /* margin: auto; */
        grid-column: 2/-1;
        margin-bottom: 1.2rem;
        margin-top: 2.5rem;
        display: flex;
        gap: 0.5rem;

        img {
          max-width: 20%;
        }
      }
      .grid1-1 {
        grid-template-columns: 0.2fr 1fr;
        display: grid;
        /* justify-items: center; */

        .when-phone {
          display: none;
        }
      }

      .when-mobile {
        line-height: 10%;
      }
    }
    .flex ul {
      display: none;
    }

    .flex {
      /* align-self: center; */
      grid-column: 2/-1;
      border-left: solid 1px var(--primary-color-03);
      padding-left: 1em;
      padding-bottom: 2.5rem;

      position: relative;
    }
    .nicki {
      line-height: 50%;
    }

    .nicki::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 100px;
      background-color: var(--primary-color-03);
      left: -0.5rem;
      top: 0.01rem;
    }

    .grid1-1 > .header {
      justify-self: flex-start;
      align-content: flex-end;
    }
  }
</style>
