---
import "../css/global.css";
import { Image } from "astro:assets";
---

<footer>
  <div class="custom-shape-divider-top-1727428986">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <section>
    <h1>Er vi et match?</h1>
    <div class="icons">
      <a
        href="https://www.figma.com/design/PEnWEXheZPIo5FEyLEliFU/PPP?node-id=0-1&t=MukPwicEwUatd09o-1"
        ><svg
          width="15"
          height="23"
          viewBox="0 0 15 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.75 23.0002C5.82 23.0002 7.5 21.2828 7.5 19.1668V15.3335H3.75C1.68 15.3335 0 17.0508 0 19.1668C0 21.2828 1.68 23.0002 3.75 23.0002Z"
            fill="#0ACF83"></path>
          <path
            d="M0 11.4998C0 9.38384 1.68 7.6665 3.75 7.6665H7.5V15.3332H3.75C1.68 15.3332 0 13.6158 0 11.4998Z"
            fill="#A259FF"></path>
          <path
            d="M0 3.83333C0 1.71733 1.68 0 3.75 0H7.5V7.66667H3.75C1.68 7.66667 0 5.94933 0 3.83333Z"
            fill="#F24E1E"></path>
          <path
            d="M7.5 0H11.25C13.32 0 15 1.71733 15 3.83333C15 5.94933 13.32 7.66667 11.25 7.66667H7.5V0Z"
            fill="#FF7262"></path>
          <path
            d="M15 11.4998C15 13.6158 13.32 15.3332 11.25 15.3332C9.18 15.3332 7.5 13.6158 7.5 11.4998C7.5 9.38384 9.18 7.6665 11.25 7.6665C13.32 7.6665 15 9.38384 15 11.4998Z"
            fill="#1ABCFE"></path>
        </svg></a
      >
      <a href="https://www.linkedin.com/in/l%C3%A6rke-hansen-29827728a/"
        ><svg
          width="31"
          height="31"
          viewBox="0 0 31 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24.5417 3.875C25.2268 3.875 25.8839 4.14717 26.3684 4.63164C26.8528 5.11611 27.125 5.77319 27.125 6.45833V24.5417C27.125 25.2268 26.8528 25.8839 26.3684 26.3684C25.8839 26.8528 25.2268 27.125 24.5417 27.125H6.45833C5.77319 27.125 5.11611 26.8528 4.63164 26.3684C4.14717 25.8839 3.875 25.2268 3.875 24.5417V6.45833C3.875 5.77319 4.14717 5.11611 4.63164 4.63164C5.11611 4.14717 5.77319 3.875 6.45833 3.875H24.5417ZM23.8958 23.8958V17.05C23.8958 15.9332 23.4522 14.8622 22.6625 14.0725C21.8728 13.2828 20.8018 12.8392 19.685 12.8392C18.5871 12.8392 17.3083 13.5108 16.6883 14.5183V13.0846H13.0846V23.8958H16.6883V17.5279C16.6883 16.5333 17.4892 15.7196 18.4838 15.7196C18.9633 15.7196 19.4233 15.9101 19.7624 16.2492C20.1016 16.5884 20.2921 17.0483 20.2921 17.5279V23.8958H23.8958ZM8.88667 11.0567C9.46219 11.0567 10.0141 10.828 10.4211 10.4211C10.828 10.0141 11.0567 9.46219 11.0567 8.88667C11.0567 7.68542 10.0879 6.70375 8.88667 6.70375C8.30772 6.70375 7.75249 6.93373 7.34311 7.34311C6.93373 7.75249 6.70375 8.30772 6.70375 8.88667C6.70375 10.0879 7.68542 11.0567 8.88667 11.0567ZM10.6821 23.8958V13.0846H7.10417V23.8958H10.6821Z"
            fill="black"></path>
        </svg></a
      >
      <a href="https://github.com/laerkehansen"
        ><svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15 2.5C13.3585 2.5 11.733 2.82332 10.2165 3.45151C8.69989 4.07969 7.3219 5.00043 6.16117 6.16117C3.81696 8.50537 2.5 11.6848 2.5 15C2.5 20.525 6.0875 25.2125 11.05 26.875C11.675 26.975 11.875 26.5875 11.875 26.25V24.1375C8.4125 24.8875 7.675 22.4625 7.675 22.4625C7.1 21.0125 6.2875 20.625 6.2875 20.625C5.15 19.85 6.375 19.875 6.375 19.875C7.625 19.9625 8.2875 21.1625 8.2875 21.1625C9.375 23.0625 11.2125 22.5 11.925 22.2C12.0375 21.3875 12.3625 20.8375 12.7125 20.525C9.9375 20.2125 7.025 19.1375 7.025 14.375C7.025 12.9875 7.5 11.875 8.3125 10.9875C8.1875 10.675 7.75 9.375 8.4375 7.6875C8.4375 7.6875 9.4875 7.35 11.875 8.9625C12.8625 8.6875 13.9375 8.55 15 8.55C16.0625 8.55 17.1375 8.6875 18.125 8.9625C20.5125 7.35 21.5625 7.6875 21.5625 7.6875C22.25 9.375 21.8125 10.675 21.6875 10.9875C22.5 11.875 22.975 12.9875 22.975 14.375C22.975 19.15 20.05 20.2 17.2625 20.5125C17.7125 20.9 18.125 21.6625 18.125 22.825V26.25C18.125 26.5875 18.325 26.9875 18.9625 26.875C23.925 25.2 27.5 20.525 27.5 15C27.5 13.3585 27.1767 11.733 26.5485 10.2165C25.9203 8.69989 24.9996 7.3219 23.8388 6.16117C22.6781 5.00043 21.3001 4.07969 19.7835 3.45151C18.267 2.82332 16.6415 2.5 15 2.5Z"
            fill="black"></path>
        </svg>
      </a>
    </div>
  </section>
</footer>

<style>
  footer {
    background-color: var(--primary-color-02);
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;

    section {
      padding-top: 6rem;
      padding-bottom: 6rem;
      text-align: center;
    }
    .custom-shape-divider-top-1727428986 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
    }

    .custom-shape-divider-top-1727428986 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 80px;
    }

    .custom-shape-divider-top-1727428986 .shape-fill {
      fill: #b8ccff;
    }

    img {
      max-width: 2%;
    }
  }
  .icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-top: 2rem;
  }
</style>
