---
import "../css/global.css";
---

<section>
  <div><h3>Lærke Hansen</h3></div>
  <div class="flex">
    <a href="#">Instagram</a>
    <a href="#">LinkedIn</a>
  </div>
</section>

<style>
  section {
    background-color: var(--primary-color-01);
    display: flex;
    justify-content: space-between;
  }
  .flex {
    display: flex;
    gap: 2rem;
  }
</style>
