---
import "../css/global.css";
import "../css/reset.css";
---

<section>
  <div class="textbox">
    <h2>
      “Jeg er en <span
        style="background-color: var(--primary-color-01); color: var(--secondary-color-01);"
        >nysgerrig og engageret</span
      > studerende med interesse for <span
        style="background-color: var(--primary-color-01); color: var(--secondary-color-01);"
        >webudvikling samt design</span
      >. Jeg ønsker og <span
        style="background-color: var(--primary-color-01); color: var(--secondary-color-01);"
        >udvikle</span
      > mine evner indenfor bæredygtig webudvikling, og være med til at skabe <span
        style="background-color: var(--primary-color-01); color: var(--secondary-color-01);"
        >holdbare løsninger</span
      > for fremtiden”
    </h2>
  </div>
</section>

<style>
  @media (min-width: 481px) {
    section {
      background-color: var(--secondary-color-01);
      padding-top: 10rem;
      padding-bottom: 10rem;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;

      .textbox {
        border-left: solid 2px var(--primary-color-03);
        padding: 0;
        grid-column: 2/-2;
        h2 {
          color: var(--primary-color-03);
          padding: 1rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    section {
      background-color: var(--secondary-color-01);
      padding-top: 3rem;
      padding-bottom: 3rem;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;

      .textbox {
        border-left: solid 2px var(--primary-color-03);
        padding: 0;
        grid-column: 2/-2;
        h2 {
          color: var(--primary-color-03);
          padding: 1rem;
        }
      }
    }
  }
</style>
