---
import "../css/global.css";
import "../css/reset.css";
---

<section>
  <div class="textbox">
    <h2>
      “Jeg er en nysgerrig og engageret studerende med interesse for
      webudvikling samt design. Jeg ønsker og udvikle mine evner indenfor
      bæredygtig webudvikling, og være med til at skabe holdbare løsninger for
      fremtiden”
    </h2>
  </div>
</section>

<style>
  @media (min-width: 481px) {
    section {
      background-color: var(--secondary-color-01);
      padding-top: 10rem;
      padding-bottom: 10rem;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;

      .textbox {
        border-left: solid 2px var(--primary-color-03);
        padding: 0;
        grid-column: 2/-2;
        h2 {
          color: var(--primary-color-03);
          padding: 1rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    section {
      background-color: var(--secondary-color-01);
      padding-top: 3rem;
      padding-bottom: 3rem;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;

      .textbox {
        border-left: solid 2px var(--primary-color-03);
        padding: 0;
        grid-column: 2/-2;
        h2 {
          color: var(--primary-color-03);
          padding: 1rem;
        }
      }
    }
  }
</style>
