---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../css/global.css";
import "../css/reset.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>Personlig Professionel Profil</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  header {
    background-color: var(--primary-color-01);
  }
  /* @layer overrides {
    body {
      display: grid;
      grid-template-columns:
        [full-start] minmax(1rem, 1fr)
        [content-start] minmax(0, calc(var(--content-width) / 2))
        minmax(0, calc(var(--content-width) / 2))
        [content-end]
        minmax(1rem, 1fr) [full-end];
      grid-template-rows: auto 1fr auto;
      column-gap: 0;
      align-content: start;

      > :is(header, main, footer) {
        grid-column: full;
        display: grid;
        grid-template-columns: subgrid;
        align-content: start;

        > * {
          grid-column: content;
        }
      }
    }
  } */
</style>
